useDynLib(gofmetric, .registration = TRUE)
importFrom(Rcpp, evalCpp)
import(stats)
import(utils)
import(parallel)
import(movMF)
import(sphunif)
import(pracma)
import(rotasym)
import(mvtnorm)
import(gbutils)
export(gof_test)
export(multiplier_bootstrap_normal)
export(multiplier_bootstrap_mvnormal)
export(multiplier_bootstrap_restricted_spiked_normal)
export(multiplier_bootstrap_normal_sigma_Id)
export(multiplier_bootstrap_vmf)
export(multiplier_bootstrap_vmf_fixed_kappa)
export(multiplier_bootstrap_hvmf)
export(multiplier_bootstrap_logistic_gaussian)
export(multiplier_bootstrap_logistic_gaussian_ar1)
export(multiplier_bootstrap_cardioid)
export(multiplier_bootstrap_small_circle)
export(multiplier_bootstrap_uniform_beta_mixture)
export(multiplier_bootstrap_sunspots_joint_time_space)
