useDynLib(dpgof, .registration = TRUE)
importFrom(Rcpp, evalCpp)
import(stats)
import(utils)
import(graphics)
import(grDevices)
import(parallel)
import(methods)
import(movMF)
import(sphunif)
import(pracma)
import(rotasym)
import(mvtnorm)
import(gbutils)
import(ggplot2)
export(gof_test)
exportPattern("^multiplier_bootstrap_")
